extends layout

block content
    .container
        form.jumbotron(method="POST", action="")
            .form-row
                .col
                    label Valor de la propiedad (UF)
                    input.form-control(name="value", value=req.value)
                .col
                    label Porcentaje de Pie (%)
                    select.form-control(name="initial")
                        option(selected=(req.initial == 10))=10
                        option(selected=(req.initial == 15))=15
                        option(selected=(req.initial == 20))=20
                .col
                    label Años plazo
                    select.form-control(name="years")
                        option(selected=(req.years == 30))=30
                        option(selected=(req.years == 25))=25
                        option(selected=(req.years == 20))=20
                        option(selected=(req.years == 15))=15
                        option(selected=(req.years == 10))=10
                        option(selected=(req.years == 5))=5     
                .col-auto
                    button.btn.btn-primary(type=submit, style='margin-top:32px') Buscar Oferta 
        div.row
            if items.length > 0
                each item in items
                    div.col-sm-3.p-2
                        div.card
                            img(src=item.image)
                            div.card-body(style="height: 150px")
                                h5=item.name
                                h6=item.type
                                | &nbsp;
                                .badge.badge-secondary=item.rate+'%'                               
                            ul.list-group
                                li.list-group-item='Valor Cuota $ ' + Intl.NumberFormat().format(item.monthlyCost)
                                li.list-group-item='Costo Total credito: ' + item.totalCostUf + ' UF'
                                li.list-group-item='CAE ' + item.cae
            else
                div.card.error
                    h1='No se han encontrado articulos que coincidan con la busqueda.' 