doctype html
html
  head
    title= title
    base(href='../')
    link(rel='icon' href='images/favicon.ico')  
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet' href='css/style.css')
  body
    header       
      nav.navbar.navbar-expand-lg.bg-dark.fixed-top
        a(href="./").col-2.col-sm-3 
          img(src='images/logo.png' alt="")
        h2='Portal de Portabilidad Financiera'
    main.container
      .card
        .btn-group
          each link in links
            a.btn.btn-secondary(href=link.url alt=link.label class=(link.url == current?'active':''))
              li.fa.fa-2x(class='fa-' + link.icon)
              span=link.label
      
    block content
    footer.fixed-bottom.p-2
      span © TSOFT SpA - Todos los derechos Reservados tsoft.
      img(src='images/footer.png').float-right
